{% extends 'strathideasapp/base.html' %}
{% load static %}

  <!-- Start your project here-->
  <!-- Main navigation -->

{% block content %}
  <header style="height: 15%;">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'strathideasapp:incubator_list' %}">
          <strong><span>VUMBUA</span></strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'strathideasapp:incubator_list' %}">Home</a>
                <span class="sr-only">(current)</span>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'strathideasapp:category_list' %}">Idea Categories</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}"><img  class="card-img-top" style="height: 30px;width : 40px;" src="{{ user.profile.image.url }}" alt="Card image cap"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- main content section -->
  <section class="container my-5" style="padding-top:5px;">

{#    <div class="search-bar">#}
{#    <form class="form-inline active-cyan-4">#}
{#      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">#}
{#      <i class="fas fa-search" aria-hidden="true"></i>#}
{#    </form>#}
{#  </div>#}

    <!-- categories and search bar code -->
    <!-- <select class="mdb-select md-form" searchable="Search here..">
      <option value="" disabled selected>Choose your country</option>
      <option value="1">USA</option>
      <option value="2">Germany</option>
      <option value="3">France</option>
      <option value="3">Poland</option>
      <option value="3">Japan</option>
    </select>
    <label class="mdb-main-label">Label example</label> -->
    <!-- end of categories and search bar code -->


    <h2 class="h1-responsive text-center my-5"><strong>Idea Categories</strong></h2>


    <!-- description -->
<!--     <p class="text-center dark-grey-text w-responsive mx-auto mb-5">The following ideas are ready for incubation. Feel free to have a look at them:</p>
 -->    <!-- end of description -->

    <!-- cards section -->
    <div class="row">
      <div class="col-md-12">
        <div class="row" id="allCards">

          <!-- js for handling the cards -->
          <script type="text/javascript">
            $(document).ready(function() {
              var divs = $('card');
              for (var i = 0; i < divs.length; i+=4) {
                  divs.slice(i, i + $).wrapAll('<div class="row"></div>')
                }
            });
          </script>
          <!-- end of cards js -->

          <!-- cards code -->
          <div class="row">
            <!-- Card -->
               {% for category in categories %}
      <div class="col-md-4" style="padding-bottom: 40px">

        <div class="card" style="margin-bottom: 10%; padding-bottom: 20px;">
          <!-- Card image -->
          <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->
          <img class="card-img-top" style="height:400px; max-width: 500px;" src="{{category.image.url}}" alt="Sample image">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title" style=" width: 500px;"><a href="{% url 'strathideasapp:idea_category' category.industry_category_id %}" >{{ category.industry_category_name }}</a></h4>
            <!-- Text -->
            <p class="card-text">{{ category.description }}</p>



          </div>

        </div>


      </div>

      <!-- End of Card -->
               {%endfor%}
          </div>
          <!-- end of cards code -->

        </div>
      </div>
    </div>
    <!-- end of cards section -->
  </section>
{% endblock %}
  <!-- end of main section -->
