{% extends 'strathideasapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

  <!-- Start your project here-->
  <!-- Main navigation -->
{% block content %}

<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <strong><span>VUMBUA</span></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'strathideasapp:home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <!-- Full Page Intro -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../static/img/bg_4.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container-fluid">
        <!--Grid row-->
        <div class="row justify-content-around">
          <!--Grid column-->
          <!-- sign up form -->
          <div class="col-md-4 mt-5" style="padding-top: 5%; padding-bottom: 5%;">
            <!-- Material form login -->
            <div class="card">

              <h5 class="card-header info-color white-text text-center py-4">Login</h5>

              <!--Card content-->
              <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;" method="post">
                        {% csrf_token %}
                      <fieldset class="form-group">
                          <div class="row">
                              <div class="col-md-11">
                                {{ form.username|as_crispy_field }}
                              </div>
                                  <div class="col-md-11">
                                    {{ form.password|as_crispy_field }}
                                  </div>
                          </div>
                      </fieldset>

                      <div class="form-group">
                          <button class="btn btn-outline-info">Login</button>
                          <small class="text-muted">
                               <a href="{% url 'password_reset' %}">Forgot Password?</a>
                          </small>
                      </div>

                      <div class="border-top pt-3">
                          <small class="text-muted">
                              Need an account? <a href="{% url 'register' %}">Sign up Now</a>
                          </small>
                      </div>

                </form>
                <!-- Form -->

              </div>

            </div>
            <!-- Material form login -->
          </div>
          <!-- end of sign up form -->
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>

{% endblock %}
<!-- body section -->

<!-- end of main section -->